@import "tailwindcss";

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: #F8F9FA;
  color: #1A1A2E;
  font-family: var(--font-geist-sans), "Inter", sans-serif;
  overflow-x: hidden;
}

::selection {
  background-color: #003087;
  color: white;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #F8F9FA;
}

::-webkit-scrollbar-thumb {
  background: #003087;
  border-radius: 3px;
}
